body {
  margin: 0;

  background-color: rgb(169, 175, 179);

  .error {
    display: flex;
    width: 100vw;
    height: 100vh;

    background-color: white;
    
    &-img {
      margin: auto auto;
      height: 50%;
    }
  }
  
  
  .container {
    margin: 50px auto;
    padding: 20px;
    width: 520px;
    text-align: center;

    color: white;

    background-color: rgb(60, 63, 65);
    border-radius: 12px;

    .total-title {
      color: rgb(33, 180, 168);
      font-size: 34px;
      text-transform: uppercase;
     }

     .counter {
      color: rgb(33, 180, 168);
     }

    .addTask {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;

      &-btn {
        min-width: 70px;

        color: rgb(60, 63, 65);
        font-weight: bold;

        background-color: rgb(33, 180, 168);
        border: none;
        border-radius: 12px;
        text-transform: uppercase;
        transition: all 0.3s linear;

        
        &:hover {
          background-color:rgb(38, 206, 192);

          cursor: pointer;
        }
      }

      .edit-list-buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .editing-btn {
          padding: 3px;

          font-size: 12px;
        }
      }

      .task-input {
        padding: 5px 10px;
        width: 400px;
        height: 32px;
        min-height: 30px;
        text-align: center;
        
        color: rgb(169, 175, 179);
        font-size: 20px;
        
        background-color: transparent;
        border-radius: 12px;
        outline: none;
      }

      .h {
        background-color: rgba(33, 180, 168, 0.171);;
      }


    }

    .list-wrapper {
      padding: 0;

      list-style: none;

      
      .list-item {
        display: flex;
        margin-bottom: 10px;
        padding: 5px 0;
        gap: 10px;
        // justify-content: space-between;

        color: rgb(169, 175, 179);
        font-size: 20px;
        

        border-bottom: 1px solid rgb(33, 180, 168);

        &-text {
          display: flex;
          gap: 10px;
        }

        .list-text {
          display: flex;
          width: 280px;
          gap: 10px;
          text-align: left;

          word-break: break-all;
          word-wrap: wrap;

          transition: all 0.5s linear;
        }

        .active {
          flex-direction: row;
        }

        .done {
          text-decoration: line-through;
          opacity: 0.3;
        }

        .important {
          color: rgba(253, 143, 143, 0.788);

          transition: all 0.5s linear;
        }

        .btn-done {
          display: none;
          
        }

      }

      .list-buttons {
        display: flex;
        width: 195px;
        gap: 5px;
        align-items: center;
        justify-content: flex-end;

        .optional-btn {
          min-width: 60px;
          padding: 5px;

          background-color: rgb(33, 180, 168);
          border: none;
          border-radius: 12px;

          color: rgb(60, 63, 65);
          font-weight: bold;
          font-size: 8px;
          text-transform: uppercase;

          transition: all 0.5s linear;

          &:hover {
            background-color:rgb(38, 206, 192);
            cursor: pointer;
          }
        }

        .imp-btn {
          min-width: 60px;
          padding: 5px;

          background-color: rgba(253, 143, 143, 0.788);
          border: none;
          border-radius: 12px;

          color: rgb(60, 63, 65);
          font-weight: bolder;
          font-size: 8px;
          text-transform: uppercase;

          transition: all 0.5s linear;

          &:hover {
            background-color:rgba(253, 143, 143, 0.986);
            cursor: pointer;
          }
        }
      }
    }
  }

}